.helpNav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 64px;
    background-color: rgb(2,119,189);
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 64px calc(100% - 64px);
    place-items: center center;
    color: white;
}

.helpNav > a {
    padding-top: 5px;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center center;
    color: white;
}

.helpNav > font {
    font-size: 20px;
    font-weight: bold;
    place-self: center left;
}

.helpContainer {
    height: calc(100% - 64px);
    top: 64px;
    position: fixed;
    width: 100%;
    overflow: auto;
}
